.main{
    padding: 0.5rem;
}
  
.mainallbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -1rem;
    padding: 0.6rem;
  
}
  
.menubar a{
    padding-right: 2.5rem;
}
  
.menubar a:hover{
    color: gray;
}
  
.menubar img{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}
  
.menubar{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.time{
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.contentbox{
    position: relative;
    width: 85vw;
    height: 85vh;
    background: linear-gradient(#1b1b1b, #111111);
    margin: 2rem;
    border-radius: 1rem;
    border: 0.5px solid rgb(68, 68, 68);
    margin: 2rem auto;
}

.contentboxhead{
    width: 84.8vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem 1rem 0 0;    
    color: white;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.contentx{
    position: absolute;
    top: 0;
    color: tomato;
    background-color: tomato;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.6rem;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
}

.contentx a:hover{
    color: black;
}

.contentdetail{
    display: flex;
    flex-direction: row;
}

.contentdetail img{
    width: 30vw;
    height: auto;
    padding: 1rem;
}

.contenttext{
    color: white;
    font-weight: 100;
    padding: 4rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.contenttext form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contactdetail input{
    width: 30vw;
    height: auto;
    line-height: 2rem;
    padding: 0.3rem;
}

.contactdetail textarea{
    width: 30vw;
    padding: 0.3rem;
    font-family: sans-serif;
}

.submitbtn input[type=submit]{
    cursor: pointer;
    width: 30vw;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    background-color: gray;
    color: black;
    border-radius: 0.2rem;
}

.submitbtn input[type=submit]:hover{
    color: white;
}




@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }